.weather-details-container {
    border-radius: 11px;
background: #FDFCFC;
padding: 5px 20px;
}

.details-title {
    color: #C4C4C4;
font-size: 12px;
font-weight: 500;
}

.details-paragraph {
    color: #9A9A9A;
font-size: 15px;
font-family: Poppins;
font-weight: 500;
}

